<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  </head>
  <body>
    <!-- Navbar -->
    <%= render 'layouts/header' %>

    <!-- Main Content -->
    <div class="container mt-5">
      <%= yield %>
    </div>

    <!-- Footer -->
    <%= render 'layouts/footer' %>

    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %>
  </body>
</html>
