<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  </head>
  <body>
    <!-- Navbar -->
    <header class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <%= link_to "SAMPLE APP", '#', id: "logo", class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto"> <!-- Right-align the links with ms-auto -->
            <li class="nav-item"><%= link_to "Home", '#', class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "Help", '#', class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "Log in", '#', class: "nav-link" %></li>
          </ul>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container mt-5">
      <%= yield %>
    </div>

    <!-- Footer -->
    <footer class="footer mt-5">
      <div class="container text-center">
        <p class="text-muted small">The Ruby on Rails Tutorial by Michael Hartl</p>
        <ul class="list-inline">
          <li class="list-inline-item"><%= link_to "About", '#' %></li>
          <li class="list-inline-item"><%= link_to "Contact", '#' %></li>
          <li class="list-inline-item"><%= link_to "News", '#' %></li>
        </ul>
      </div>
    </footer>

    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %>
  </body>
</html>
