<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
  <div class="container">
    <%= link_to "La Vie Parisienne", root_path, class: "navbar-brand font-weight-bold" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto d-flex align-items-center">
        <% if logged_in? %>
          <li class="nav-item">
            <span class="navbar-text text-white me-3">
              Welcome back, <%= current_user.name %>!
            </span>
          </li>
          <% if current_user.admin? %>
            <li class="nav-item">
              <%= link_to "Admin", admin_dashboard_path, class: "nav-link text-white" %>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to "Dashboard", reservations_path, class: "nav-link text-white" %>
          </li>
          <li class="nav-item">
            <%= button_to "Logout", logout_path, method: :delete, class: "nav-link text-white" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", login_path, class: "nav-link text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Up", signup_path, class: "nav-link text-white" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
