<h1>Reservation Cancellation</h1>
<p>Dear <%= @user.name %>,</p>

<p>We regret to inform you that your reservation has been canceled:</p>
<ul>
  <li><strong>Date:</strong> <%= @reservation.time_slot.date %></li>
  <li><strong>Time:</strong> <%= @reservation.time_slot.start_time.strftime("%I:%M %p") %> - <%= @reservation.time_slot.end_time.strftime("%I:%M %p") %></li>
  <li><strong>Number of People:</strong> <%= @reservation.number_of_people %></li>
</ul>

<p>If you have any questions, feel free to contact us.</p>
